body{
    background-color: black;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 100px;
    background-color: brown;
}
.card{
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    color: yellow;
    background-color: black;
    text-align: center;
}
.image{
    width: 300px;
}
.imgMarvel{
    width: 100%;
}